.wrapper
  = render partial: "groups/sidebar"
  .chat
    .group
      .group__name
        = @group.name
        %ul.members
          Member：
          = render partial: "member"
      .group__button
        = link_to "Edit", edit_group_path(@group)
    .messages
      %dl.messages__message
        = render partial: "messages__message"
    .form
      = form_for @message, url: {action: :create} do |f|
        = f.text_field :body, {placeholder: "type a message", class: "input"}
        .upload
          = f.label :image do
            %i.fa.fa-picture-o
              = f.file_field :image, {class: "button"}
              = f.hidden_field :image_cache
        = f.submit "Send", {class: "send"}
